
		body{
			margin: 0; 
			background color: green; 
		}
		header{
			background-color: green;
			padding: 20px;
			text-align: center;
			color: white; 
			font-family: "Comic Sans MS", Arial;
		}

		nav{
			overflow: hidden; 
			background-color: #333;
		}
		nav a{
			float: left;
			color: #fff;
			padding: 30px 25px 20px 15px;
			text-decoration: none;
		}
		nav a:hover{
			background-color: black; 
		}
		.column{
			float: left; 
			padding: 10px;
		}
		.column.side{
			width: 20%;
		}
		.column.middle{
			width: 50%;
		}

		
		footer{
			clear: both; 
			background-color: green;
			padding: 20px;
			text-align: center;
			color: white; 
		}
		div.gallery{
			margin: 5px;
			border: 5px solid black;
			float: left;
			width: 200px;

		}
		div.gallery:hover{
			border: 1px solid red; 
		}
		div.gallery img{
			width: 100%
			height: auto; 
		}
		div desc {
			padding: 15px; 
			text-align: center;
		}
		input[type=text],select, textarea{
			width: 100%;
			padding: 15px; 
			border: 2px solid #ccc;
			margin-top: 10px;
			margin-button: 16px;
			resize vertical; 
		}
		input[type=submit]{
			background-color: green;
			color: white;
			padding: 12px, 20px; 
			cursor: pointer; 
			border: none; 
			margin: 3px;


		@media screen and (max-width: 800px)
		{
			.column.side,.column.middle{
				width: 100%
			}
		}
		/*This is paragraph*/
		p{
			text-align: center;
		}